body { 
  color: #343434;
}
header { 
    background-color: #4c7e7b;
    color: whitesmoke ;
}
.projects { 
    background-color:#DE9584 ; 
} 
.projects a { 
  color:#DBD8D4;  
  background-color:#4c7e7b; 
  text-decoration: none;
  padding: 8px; 
  border-radius: 4px;
} 
.projects a:hover{ 
    background: #68807e;
}
.work-experience { 
    background-color: #94BFBF;
} 
a:link { 
    color: antiquewhite;
} 
a:visited{ 
    color: darkblue;
} 
.education{ 
    background-color: #DBD8D4;
}
footer{ 
    font-family:'Oswald', sans-serif;
    background-color: #DE756F; 
    color:#DBD8D4;
}
section { 
    font-family:'Kadwa', serif;
} 

section h1, h2, h3{ 
    font-family: 'Oswald', sans-serif;
}
image { 
    margin: 15px;
   padding-left: 30px;
}